<scroller techniques="preparationTechniques" current-index="indexForPreparation">
	<div class="preparationTechnique">
		<span class="bigEmphasis"> {{$parent.currentTechnique.name}}! </span>
		<span class="description"> {{$parent.currentTechnique.description}}</span>
	</div>
</scroller>
<scroller techniques="stylingTechniques" current-index="indexForStyling">
	<div class="stylingInstruction">
		<div class="title-filler"></div>
		<div class="title">{{$parent.currentTechnique.name}}</div>
		<div class="ingredients">
			<div class="ingredient" ng-repeat="ingredient in $parent.currentTechnique.ingredients">
				{{ingredient}}
			</div>
		</div>
	</div>
</scroller>
<scroller techniques="bodyIngredients" class="base-ingredient" current-index="indexForBody">
	<div class="base-ingredient">
		<div class="number">1</div>
		<div class="number-title">part</div>
		<div class="ingredient-large">{{$parent.currentTechnique}}</div>
	</div>
</scroller>
<scroller techniques="sideIngredients" class="base-ingredient" current-index="indexForSide">
	<div class="base-ingredient">
		<div class="number">2</div>
		<div class="number-title">parts</div>
		<div class="ingredient-large">{{$parent.currentTechnique}}</div>
	</div>
</scroller>
<scroller techniques="vegetableBase" class="base-ingredient" current-index="indexForVegetableBase">
	<div class="base-ingredient">
		<div class="number">3</div>
		<div class="number-title">parts</div>
		<div class="ingredient-large">{{$parent.currentTechnique}}</div>
	</div>
</scroller>
<div class="button" ng-click="makeRandom()">
	Surprise Me!
</div>
<div class="button" ng-click="saveLink()" >
	Share!
</div>